
.header{
    font-size: 3em;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: white;
  background-color: #24272e;
  align-items: center;

}

.title{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: .05em;
    color: rgb(202, 163, 111);

}
.scores{
    color: rgb(153, 118, 72);
}