
.card{
    width: fit-content;
    height: 150px;
    padding: 20px;
    background-color: darkblue;
    border-radius: 5px;
}

.inner-card{
    height: 110px;
    background-color: aqua;
    border-radius: 5px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.img{
    width: 100px;
    object-fit: cover;
    height: 100px;
}